@{
    ViewBag.Title = "Index";
}
@using summercamp.Core.Entidades
@model List<Inscripcion>
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Lista de Participantes</h1>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <a href="@Url.Action("Index","Curso")" class="btn btn-primary">Regresar a Cursos</a>

                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Inscripcion i in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Participante.GetById(i.Participante).Nombre 
                                            </td>
                                            <td>
                                                @Curso.GetById(i.Curso).Nombre
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Eliminar", "Curso", new {id= i.Id})" class=" btn btn-primary">Eliminar</a>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


